.container button{
    padding: 10px 20px;
}
body{
    background-image: url(https://images.pexels.com/photos/3837409/pexels-photo-3837409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}